@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  /* background-color: #ebebeb; */
  background-color: rgb(245, 216, 243);
  color: #004d65;
  font-family: 'Righteous', cursive;
}

.listContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: rgb(11, 11, 104);
}

h4,
h5 {
  margin: 5px;
}

p {
  margin-top: 20px;
  padding-right: 10px;
}

.detailsInfo {
  margin: 15px 10px;
}

.songs {
  width: 250px;
  height: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  border-radius: 20px;
  background: rgb(253, 250, 247);
  border: 5px solid rgb(219, 72, 14);
  transition: .3s ease-in-out;
  /* box-shadow:  37px 37px 74px #c8c8c8, 
             -37px -37px 74px #ffffff; */
}

.songs:hover {
  /* transform: scale(1.1); */
  animation: shake 1.2s 1 normal both;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
